AuthType Basic
AuthName "Authentication Required"
AuthUserFile /home/sidb/www/Shachi/.htpasswd
Require valid-user


RewriteEngine On 

RewriteCond %{HTTP_HOST} ^www3.shachi.org$ [NC]
RewriteRule (.*) http://www3.shachi.org:5432/$1 [L,P]

