// Variables
@fontfamily: "メイリオ", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

// Mixin
.border-radius (@arguments) {
  border-radius: @arguments;
  -webkit-border-radius: @arguments;
}

.box-shadow (@arguments) {
  box-shadow:@arguments;
  -moz-box-shadow:@arguments;
  -webkit-box-shadow:@arguments;
  -o-box-shadow:@arguments;
  -ms-box-shadow:@arguments;
}

.transition (@arguments) {
  -webkit-transition: @arguments;
  transition: @arguments;
}


// less
html,
body {
  font-family: @fontfamily;
  font-size: 18px;
  word-wrap: break-word;
}

header {
  border-bottom: solid 1px #999999;
  padding-bottom: 5px;
}

div.container {
  margin: 10px 5px 5px 10px;
}

ul.annotator-resource-list {
  list-style: none;
  padding-left: 0;

  li.annotator-resource {
    border-bottom: solid 1px #666666;
    padding: 3px 0 3px 0;

    &.header {
      font-weight: bold;
    }
    &:hover {
      background-color: #ffccff;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        vertical-align: middle;

        &.shachi-id {
          width: 90px;
        }
        &.edit-status {
          cursor: pointer;
          width: 20px;
          img {
            width: 20px;
          }
        }
        &.status {
          cursor: pointer;
          width: 60px;
          font-size: 15px;
          .label {
            background-color: #CCCCCC;
            padding: 1px;
            .border-radius(5px);
            .box-shadow(0 1px 1px rgba(0,0,0,0.8));
          }
        }
        &.title {
          width: 800px;
        }
        &.delete {
          cursor: pointer;
          width: 20px;
        }
        &.modified {
          font-size: 15px;
        }
      }
    }
  }
}

div.edit-status-popup-editor {
  position: absolute;
  width: 230px;
  height: 70px;
  border: solid 1px #CCCCCC;
  .box-shadow(0 2px 4px rgba(0,0,0,0.2));
  .border-radius(3px);
  padding-left: 10px;
  background-color: #ffffff;
  z-index: 10;

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 0;

    li {
      display: inline-block;
      width: 20px;
      cursor: pointer;
      padding: 0 3px;

      &:hover {
        background-color: #CCCCCC;
      }

      img {
        width: 20px;
      }

      &.close {
        position: absolute;
        height: 20px;
        top: 2px;
        right: 2px;
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        font-size: 15px;
        color: #999999;
        border: solid 1px #CCCCCC;
        .border-radius(3px);
      }
    }
  }
}

div.status-popup-editor {
  position: absolute;
  width: 170px;
  height: 70px;
  border: solid 1px #CCCCCC;
  .box-shadow(0 2px 4px rgba(0,0,0,0.2));
  .border-radius(3px);
  padding-left: 10px;
  background-color: #ffffff;
  z-index: 15;

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0;

    li {
      display: inline-block;
      width: 20px;
      cursor: pointer;
      padding: 0 3px;
      text-align: center;
      font-size: 20px;

      &.status {
        width: 70px;
        border: solid 1px #CCCCCC;
        .border-radius(5px);
        .box-shadow(0 1px 1px rgba(0,0,0,0.1));
      }
      &:hover {
        background-color: #CCCCCC;
      }

      &.close {
        position: absolute;
        height: 20px;
        top: 2px;
        right: 2px;
        padding: 1px;
        vertical-align: middle;
        font-size: 15px;
        color: #999999;
        border: solid 1px #CCCCCC;
        .border-radius(3px);
      }
    }
  }
}

div.resource-detail-header {
  padding-bottom: 10px;

  div.resource-detail-data {
    font-size: 16px;

    .modified, .created {
      float: right;
      padding: 0 5px;
    }
  }
}

div.resource-detail-container {
  select.annotator {
    width: 260px;
    font-size: 16px;
    font-family: @fontfamily;
  }

  div.resource-meta {
    div.resource-status {
      input[type=radio] {
        display: none;
      }
      label.radio {
        box-sizing: border-box;
        .transition(background-color 0.2s linear);
        display: inline-block;
        padding: 3px 12px;
        margin: 5px 5px;
        .border-radius(8px);
        background-color: #f6f7f8;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
          background-color: #82E85E;
        }
      }

      input[type=radio]:checked + .radio {
        background-color: #60B044;
      }
    }
  }

  div.resource-metadata {
    border-bottom: solid 1px #999999;
    padding: 3px 0;

    h3 {
      font-size: 16px;
      display: inline-block;
      width: 390px;
      margin: 0;
      vertical-align: top;
    }
    ul.resource-metadata-add-delete {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 60px;
      vertical-align: top;

      li.btn {
        width: 25px;
        padding: 3px 0;
        display: inline;
        border: solid 1px #ccc;
        background-color: #ccc;
        margin: 0px;
        border-radius: 30px;
        padding: 0 5px;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
        cursor: pointer;

        &.delete {
          padding: 0 7px;
        }

        &:hover {
          background-color: #999999;
          color: #ffffff;
        }
      }
    }
    div.resource-metadata-unit {
      display: inline-block;
      width: 800px;

      li.text {
        input {
          width: 792px;
          font-size: 16px;
        }
      }
      li.textarea {
        textarea {
          width: 790px;
          font-size: 16px;
          font-family: @fontfamily;
        }
      }
      li.select, li.select_only, li.relation {
        select {
          width: 260px;
          font-size: 16px;
          font-family: @fontfamily;
        }
        input {
          width: 525px;
          font-size: 16px;
        }
      }
      li.language {
        input {
          font-size: 16px;

          &.content {
            width: 256px;
          }
          &.description {
            width: 525px;
          }
        }
      }
      li.date, li.range {
        input {
          font-size: 16px;

          &.year {
            width: 70px;
            text-align: right;
          }
          &.month, &.day {
            width: 40px;
            text-align: right;
          }
        }
      }
      li.date input.description {
        width: 605px;
        margin-left: 5px;
      }
      li.range input.description {
        width: 410px;
        margin-left: 5px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 3px 0;
        }

        .label {
          background-color: #CCCCCC;
          padding: 0 3px;
          .border-radius(5px);
        }
      }
    }
    .language-popup-selector {
       display: block;
       position: absolute;
       z-index: 10;
       background-color: #ffffff;
       border: solid 1px #999999;
       padding: 10px;
       border-radius: 5px;
       font-size: 15px;
       max-height: 200px;
       overflow-y: scroll;

       li {
         border-bottom: solid 1px #cccccc;
         cursor: pointer;

         &:hover {
           background-color: #cccccc;
         }
       }
    }
  }

  div.resource-create-footer {
    text-align: center;
    margin: 10px;
  }
  button {
    padding: 6px 12px;
    margin: 0 10px;
    font-size: 13px;
    font-family: @fontfamily;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #EEEEEE;
    background-image: linear-gradient(#FCFCFC, #EEEEEE);
    border: 1px solid #D5D5D5;
    .border-radius(3px);

    &.cancel {
      a {
        text-decoration: none;
        color: #333333;
      }
    }

    &.submit {
      color: #ffffff;
      background-color: #60B044;
      background-image: linear-gradient(#8ADD6D, #60B044);
      border: 1px solid #5CA941;
    }
  }
}

footer {
  font-size: 13px;
  text-align: center;
  border-top: solid 1px #999999;
  padding-top: 5px;
}