<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>[% title || 'SHACHI' %] - SHACHI Admin</title>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>

  <body>
    <header>
      <div><a href="/"><img src="/images/admin/logo.jpg"></a></div>
    </header>
    <div class="container">
      [% content %]
    </div>
    <footer>
      <div class="copyright">&copy; 2008 SHACHI</div>
    </footer>
  </body>
</html>
