[%- WRAPPER '/admin/_wrapper.tt' %]

<div>
  <form name="annotator-form" method="GET">
    Annotator:
    <select name="annotator_id" onchange="document.annotator-form.submit()">
      [%- FOREACH annotator IN annotators %]
        [%- IF annotator.resource_count %]
          <option value="[% annotator.id %]"[% ' selected' IF annotator.id == c.req.param('annotator_id') %]>[% annotator.name %] ([% annotator.resource_count %])</option>
        [%- END # IF annotator.resource_count %]
      [%- END # FOREACH annotator IN annotators %]
    </select>
  </form>
</div>

[%- IF annotator %]
  <div>
    <h3>[% annotator.name %]</h3>
    <ul class="annotator-resource-list">
      <li class="annotator-resource header">
        <ul>
          <li class="shachi-id">ID</li>
          <li class="edit-status"></li>
          <li class="status">Status</li>
          <li class="title">Title</li>
          <li class="delete"></li>
          <li class="modified">Last updated</li>
        </ul>
      </li>
      [%- FOREACH resource IN annotator.resources %]
        <li class="annotator-resource">
          <ul>
            <li class="shachi-id">[% resource.shachi_id %]</li>
            <li class="edit-status [% resource.edit_status%]" title="[% resource.edit_status %]">
              <img src="/images/admin/[% resource.edit_status %].png">
            </li>
            <li class="status [% resource.status %]">[% resource.status_label %]</li>
            <li class="title"><a href="[% resource.admin_link %]">[% resource.title %]</a></li>
            <li class="delete">
              <img src="/images/admin/del.png">
            </li>
            <li class="modified">[% resource.modified.strftime('%Y/%m/%d %T') %]</li>
          </ul>
        </li>
      [%- END # FOREACH resource IN resources %]
    </ul>
  </div>

  <div class="edit-status-editor" style="display:none">
    <ul>
      [%- FOREACH edit_status IN ['new', 'editing', 'complete', 'pending', 'revised', 'proofed', 'proofed2'] %]
        <li class="[% edit_status %]">
          <img src="/images/admin/[% edit_status %].png">
        </li>
      [%- END # FOREACH %]
      <li class="close">x</li>
    </ul>
  </div>
[%- END # IF annotator %]

[%- END # WRAPPER '/admin/_wrapper.tt' %]
