[%- WRAPPER 'admin/_wrapper.tt' %]

[%- MACRO metadata_list_text(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>[% resource_metadata.content %]</li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_text %]

[%- MACRO metadata_list_textarea(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span>[% resource_metadata.content %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_textarea %]

[%- MACRO metadata_list_select(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      [%- IF resource_metadata.value_id %]
        <span class="label">[% resource_metadata.value.value %]</span>
      [%- END # IF resource_metadata.value_id %]
      <span>[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_select %]

[%- MACRO metadata_list_select_only(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="label">[% resource_metadata.value.value %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_select_only %]

[%- MACRO metadata_list_relation(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="label">[% resource_metadata.value.value %]</span>
      <span>[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_relation %]

[%- MACRO metadata_list_language(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="label">[% resource_metadata.value.value %]</span>
      <span>[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_language %]

[%- MACRO metadata_list_date(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span>[% resource_metadata.content %]</span>
      <span>[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_date %]

[%- MACRO metadata_list_range(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span>[% resource_metadata.content %]</span>
      <span>[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource.metadata(metadata) %]
[%- END # MACRO metadata_list_range %]

<div class="resource-detail-container" data-resource-id="[% resource.id %]">
  <div class="resource-detail-header">
    <h3>[% resource.shachi_id %]</h3>
    <div class="resource-detail-data">
      <div class="annotator-container">
        <span class="annotator">Annotator: [% resource.annotator.name %]</span>
        <img src="/images/admin/edit.png" class="annotator-edit-button">
        [%- INCLUDE '/admin/resource/annotator-popup-editor.tt' WITH annotators = annotators %]
      </div>

      <span class="modified">更新日時: [% resource.modified.strftime('%Y/%m/%d %T') %]</span>
      <span class="created">登録日時: [% resource.created.strftime('%Y/%m/%d %T') %]</span>
    </div>
    <div class="resource-detail-status">
      <span class="edit-status" data-edit-status="[% resource.edit_status %]">
        <img src="/images/admin/[% resource.edit_status %].png">
      </span>
      [%- SET status = resource.status == 'private' ? 'private' : 'public' %]
      <span class="status" data-status="[% status %]"><span class="label">[% status %]</span></span>
      <span class="delete">
        <form action="/admin/resources/[% resource.id %]/delete" method="POST" class="delete-form">
          <button type="submit" class="delete" onclick="return confirm('Do you delete the resource?')">削除</button>
        </form>
      </span>
      [%- INCLUDE '/admin/resource/edit-status-popup-editor.tt' %]
      [%- INCLUDE '/admin/resource/status-popup-editor.tt' %]
    </div>
  </div>

  [%- FOREACH metadata IN metadata_list %]
    <div class="resource-metadata">
      <h3>[% metadata.label %]</h3>
      <div class="resource-metadata-unit">
        [%- SET resource_metadata_list = resource.metadata(metadata) %]
        [%- IF resource_metadata_list %]
          <ul>
            [%- IF metadata.input_type == 'textarea' %]
              [% metadata_list_textarea(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'select' %]
              [% metadata_list_select(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'select_only' %]
              [% metadata_list_select_only(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'relation' %]
              [% metadata_list_relation(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'language' %]
              [% metadata_list_language(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'date' %]
              [% metadata_list_date(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'range' %]
              [% metadata_list_range(resource_metadata_list) %]
            [%- ELSE %]
              [% metadata_list_text(resource_metadata_list) %]
            [%- END %]
          </ul>
        [%- END # IF resource_metadata_list %]
      </div>
    </div>
  [%- END # FOREACH metadata IN metadata_list %]
</div>
[% END # WRAPPER '_wrapper.tt' %]

