[%- WRAPPER 'admin/_wrapper.tt' title = 'Resource Detail' %]

[%- MACRO metadata_list_text(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="content">[% resource_metadata.content %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_text %]

[%- MACRO metadata_list_textarea(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="content">[% format_content(resource_metadata.content) | raw %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_textarea %]

[%- MACRO metadata_list_select(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      [%- IF resource_metadata.value_id %]
        <span class="label value" data-value-id="[% resource_metadata.value.id %]">[% resource_metadata.value.value %]</span>
      [%- END # IF resource_metadata.value_id %]
      <span class="description">[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_select %]

[%- MACRO metadata_list_select_only(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="label value" data-value-id="[% resource_metadata.value.id %]">[% resource_metadata.value.value %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_select_only %]

[%- MACRO metadata_list_relation(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="label value" data-value-id="[% resource_metadata.value.id %]">[% resource_metadata.value.value %]</span>
      <span class="description">[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_relation %]

[%- MACRO metadata_list_language(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="label value" data-value-id="[% resource_metadata.value.id %]">[% resource_metadata.value.value %]</span>
      <span class="description">[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_language %]

[%- MACRO metadata_list_date(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="content">[% resource_metadata.content %]</span>
      <span class="description">[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_date %]

[%- MACRO metadata_list_range(resource_metadata_list) BLOCK %]
  [%- FOREACH resource_metadata IN resource_metadata_list %]
    <li>
      <span class="content">[% resource_metadata.content %]</span>
      <span class="description">[% resource_metadata.description %]</span>
    </li>
  [%- END # FOREACH resource_metadata IN resource_metadata_list %]
[%- END # MACRO metadata_list_range %]


[%- MACRO metadata_input_text(metadata) BLOCK %]
  <input name="[% metadata.name %]" type="text" class="content">
[%- END # MACRO metadata_input_text %]

[%- MACRO metadata_input_textarea(metadata) BLOCK %]
  <textarea name="[% metadata.name %]" class="content"></textarea>
[%- END # MACRO metadata_input_textarea %]

[%- MACRO metadata_input_select(metadata) BLOCK %]
  <select name="[% metadata.name %]">
    <option value=""></option>
    [%- FOREACH value IN metadata.values %]
      <option value="[% value.id %]">[% value.value %]</option>
    [%- END # FOREACH value IN metadata.values %]
  </select>
  <input name="[% metadata.name %]" type="text" class="description">
[%- END # MACRO metadata_input_select %]

[%- MACRO metadata_input_select_only(metadata) BLOCK %]
  <select name="[% metadata.name %]">
    <option value=""></option>
    [%- FOREACH value IN metadata.values %]
      <option value="[% value.id %]">[% value.value %]</option>
    [%- END # FOREACH value IN metadata.values %]
  </select>
[%- END # MACRO metadata_input_select_only %]

[%- MACRO metadata_input_relation(metadata) BLOCK %]
  <select name="[% metadata.name %]">
    <option value=""></option>
    [%- FOREACH value IN metadata.values %]
      <option value="[% value.id %]">[% value.value %]</option>
    [%- END # FOREACH value IN metadata.values %]
  </select>
  <input name="[% metadata.name %]" type="text" class="description">
[%- END # MACRO metadata_input_relation %]

[%- MACRO metadata_input_language(metadata) BLOCK %]
  <input name="[% metadata.name %]" type="text" class="content">
  <input name="[% metadata.name %]" type="text" class="description">
[%- END # MACRO metadata_input_language %]

[%- MACRO metadata_input_date(metadata) BLOCK %]
  <input name="[% metadata.name %]" type="text" class="year">
  <input name="[% metadata.name %]" type="text" class="month">
  <input name="[% metadata.name %]" type="text" class="day">
  <input name="[% metadata.name %]" type="text" class="description">
[%- END # MACRO metadata_input_date %]

[%- MACRO metadata_input_range(metadata) BLOCK %]
  <input name="[% metadata.name %]" type="text" class="year from-year">
  <input name="[% metadata.name %]" type="text" class="month from-month">
  <input name="[% metadata.name %]" type="text" class="day from-day"> -
  <input name="[% metadata.name %]" type="text" class="year to-year">
  <input name="[% metadata.name %]" type="text" class="month to-month">
  <input name="[% metadata.name %]" type="text" class="day to-day">
  <input name="[% metadata.name %]" type="text" class="description">
[%- END # MACRO metadata_input_range %]

<div>
  <a href="/admin/?annotator_id=[% resource.annotator.id %]">Index</a>
  <a href="/admin/resources/create?annotator_id=[% resource.annotator.id %]">New registration</a>
  <a href="/docs/registration_manual.pdf" target="_blank">Registration Manual</a>
  <hr>
</div>

<div class="resource-detail-container" data-resource-id="[% resource.id %]">
  <div class="resource-detail-header">
    <h3 class="shachi-id">[% resource.shachi_id %]</h3>
    <div class="resource-metadata-language" data-metadata-language="[% c.admin_lang && c.admin_lang.code || 'eng' %]">
      [%- IF c.admin_lang && c.admin_lang.code == 'jpn' %]
        <span><a href="[% resource.admin_link %]">English</a></span> / <span class="current">Japanese</span>
      [%- ELSE %]
        <span class="current">English</span> / <span><a href="[% resource.admin_link('jpn') %]">Japanese</a></span>
      [%- END %]
    </div>
    <div class="resource-detail-data">
      <span class="annotator" data-annotator-id="[% resource.annotator.id %]">Annotator: [% resource.annotator.name %]</span>
      <img src="/images/admin/edit.png" class="annotator-edit-button edit-button">
      [%- INCLUDE '/admin/resource/annotator-popup-editor.tt' WITH annotators = annotators %]
      <span class="modified">更新日時: [% resource.modified.strftime('%Y/%m/%d %T') %]</span>
      <span class="created">登録日時: [% resource.created.strftime('%Y/%m/%d %T') %]</span>
    </div>
    <div class="resource-detail-status">
      <span class="edit-status" data-edit-status="[% resource.edit_status %]">
        <img src="/images/admin/[% resource.edit_status %].png">
      </span>
      [%- SET status = resource.status == 'private' ? 'private' : 'public' %]
      <span class="status" data-status="[% status %]"><span class="label">[% status %]</span></span>
      <form action="/admin/resources/[% resource.id %]/delete" method="POST" class="delete-form">
        <button type="submit" class="delete" onclick="return confirm('Do you delete the resource?')">削除</button>
      </form>
      [%- INCLUDE '/admin/resource/edit-status-popup-editor.tt' %]
      [%- INCLUDE '/admin/resource/status-popup-editor.tt' %]
    </div>
  </div>

  [%- FOREACH metadata IN metadata_list %]
    <div class="resource-metadata [% metadata.name %]" data-name="[% metadata.name %]" data-input-type="[% metadata.input_type %]" data-resource-id="[% resource.id %]">
      <h3>[% metadata.label %]</h3>
      <img src="/images/admin/edit.png" class="edit-button metadata-edit-button">
      <ul class="resource-metadata-add-delete" style="display:none">
        [% IF metadata.multi_value %]
          <li class="btn add"><span>+</span></li>
          <li class="btn delete"><span>-</span></li>
        [% END # IF metadata.multi_value %]
      </ul>
      <div class="resource-metadata-unit">
        [%- SET resource_metadata_list = resource.metadata_list_by_name(metadata.name) %]
        [%- IF resource_metadata_list %]
          <ul class="resource-metadata-data">
            [%- IF metadata.input_type == 'textarea' %]
              [% metadata_list_textarea(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'select' %]
              [% metadata_list_select(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'select_only' %]
              [% metadata_list_select_only(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'relation' %]
              [% metadata_list_relation(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'language' %]
              [% metadata_list_language(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'date' %]
              [% metadata_list_date(resource_metadata_list) %]
            [%- ELSIF metadata.input_type ==  'range' %]
              [% metadata_list_range(resource_metadata_list) %]
            [%- ELSE %]
              [% metadata_list_text(resource_metadata_list) %]
            [%- END %]
          </ul>
        [%- END # IF resource_metadata_list %]
        <div class="resource-metadata-editor" style="display:none">
          <ul class="resource-metadata-input">
            <li class="resource-metadata-item [% metadata.input_type %]">
              [%- IF metadata.input_type == 'textarea' %]
                [% metadata_input_textarea(metadata) %]
              [%- ELSIF metadata.input_type ==  'select' %]
                [% metadata_input_select(metadata) %]
              [%- ELSIF metadata.input_type ==  'select_only' %]
                [% metadata_input_select_only(metadata) %]
              [%- ELSIF metadata.input_type ==  'relation' %]
                [% metadata_input_relation(metadata) %]
              [%- ELSIF metadata.input_type ==  'language' %]
                [% metadata_input_language(metadata) %]
              [%- ELSIF metadata.input_type ==  'date' %]
                [% metadata_input_date(metadata) %]
              [%- ELSIF metadata.input_type ==  'range' %]
                [% metadata_input_range(metadata) %]
              [%- ELSE %]
                [% metadata_input_text(metadata) %]
              [%- END %]
            </li>
          </ul>
          [%- IF metadata.input_type ==  'relation' %]
            <div class="relation-popup-selector" style="display:none">
              <ul><li></li></ul>
            </div>
          [%- ELSIF metadata.input_type == 'language' %]
            <div class="language-popup-selector" style="display:none">
              <ul><li></li></ul>
            </div>
          [%- END %]
          <div class="resource-metadata-editor-footer">
            <div class="loading" style="display:none"><img src="/images/admin/loading.gif"></div>
            <button type="button" class="cancel">キャンセル</button>
            <button type="button" class="submit">更新</button>
          </div>
        </div>
      </div>
    </div>
  [%- END # FOREACH metadata IN metadata_list %]
</div>
[% END # WRAPPER '_wrapper.tt' %]

