<!DOCTYPE html>
<html class="lang-[% c.lang.code %]">
  <head>
    <meta charset="utf-8">
    <title>[% title || 'SHACHI' %]</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>

  <body>
    <div class="container">
      [%# header %]
      <div id="header">
        <div class="logo">
          <h1><a href="/">SHACHI - Language Resource Metadata Database</a></h1>
        </div>
        <div id="header-menu-container">
          <ul id="header-menu">
            <li class="header-menu-item">Home</li>
            <li class="header-menu-item">English</li>
          </ul>
        </div>
      </div>

      [%# navi menu %]
      <div id="navi">
        <ul>
          <li class="navi-item home[% ' current' IF current_navi == 'home' %]">
            <a href="#">Home</a>
          </li>
          <li class="navi-item list[% ' current' IF current_navi == 'list' %]">
            <a href="#">List</a>
          </li>
          <li class="navi-item search[% ' current' IF current_navi == 'search' %]">
            <a href="#">Search</a>
          </li>
          <li class="navi-item statistics[% ' current' IF current_navi == 'statistics' %]">
            <a href="#">Statistics</a>
          </li>
          <li class="navi-item asia">
            <a href="#">Asia</a>
          </li>
        </ul>
      </div>

      <div id="main">
        [% content %]
      </div>

      <div id="footer">
        Copyright © 2007 NICT, Matsubara Lab., Anchor co., inc. All Rights Reserved.
      </div>
    </div>
  </body>
</html>
