<!DOCTYPE html>
<html class="lang-[% c.lang.code %] mode-[% c.mode %]">
  <head>
    <meta charset="utf-8">
    [%- SET page_title = (title || 'SHACHI') _ (subtitle ? ' (' _ subtitle _ ')' : '') _ ' - SHACHI' _ (c.mode == 'asia' ? ' for Asia' : '') _ ': Language Resource Metadata Database' %]
    <title>[% page_title %]</title>
    <meta name="keywords" content="SHACHI, Language Resource, Metadata Database">
    [%- IF current_navi == 'search' %]<meta name="robots" content="noindex, nofollow">[% END %]
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="container">
      [%# header %]
      <div id="header">
        <div class="logo">
          <h1><a href="/">SHACHI - Language Resource Metadata Database</a></h1>
        </div>
        <div id="header-menu-container">
          <ul id="header-menu">
            <li class="header-menu-item"><a href="/">Home</a></li>
            <li class="header-menu-item">
              [%- IF c.is_japanese %]
                <a href="[% c.change_lang_link('eng') %]">English</a>
              [%- ELSE %]
                <a href="[% c.change_lang_link('jpn') %]">Japanese</a>
              [%- END # IF c.is_japanese %]
            </li>
          </ul>
        </div>
      </div>

      [%# navi menu %]
      <div id="navi">
        <ul>
          <li class="navi-item home[% ' current' IF current_navi == 'home' %]">
            <a href="/">Home</a>
          </li>
          <li class="navi-item list[% ' current' IF current_navi == 'list' %]">
            <a href="/resources">List</a>
          </li>
          <li class="navi-item search[% ' current' IF current_navi == 'search' %]">
            <a href="/resources/facet">Search</a>
          </li>
          <li class="navi-item statistics[% ' current' IF current_navi == 'statistics' %]">
            <a href="/resources/statistics">Statistics</a>
          </li>
          <li class="navi-item mode">
            [%- IF c.mode == 'asia' %]
              <a href="http://shachi.org/">Global</a>
            [%- ELSE %]
              <a href="http://asia.shachi.org/">Asia</a>
            [%- END # IF c.mode == 'asia' %]
          </li>
        </ul>
      </div>

      <div id="main">
        [% content %]
      </div>

      <div id="footer">
        Copyright © 2007 NICT, Matsubara Lab., Anchor co., inc. All Rights Reserved.
      </div>
    </div>
  </body>
</html>
