[%- WRAPPER '/_wrapper.tt' WITH title = 'お問い合わせ' current_navi = 'home' %]

<div id="shachi-home">
  [%- INCLUDE '_home_sidemenu_jpn.tt' WITH sidemenu = 'contact' %]

  <div id="home-main">
    <h2 class="title">お問い合わせ</h2>
    <div class="contact-content">お問い合せは下記までお願いいたします。</div>
    <h3 class="title">NICT</h3>
    <div class="contact-content">
      〒619-0289<br>
      京都府相楽郡精華町光台3-5<br>
      独立行政法人情報通信研究機構<br>
      総合企画部企画戦略室<br>
      プランニングマネージャー<br>
      <span class="name">内元清貴</span><br>
      E-mail: <img src="/images/inq_mail.gif">
    </div>
    <h3 class="title">名古屋大学 松原研究室</h3>
    <div class="contact-content">
      〒464－8601<br>
      名古屋市千種区不老町<br>
      名古屋大学情報基盤センター<br>
      <span class="name">遠山仁美・松原茂樹</span><br>
      E-mail: <img src="/images/inq_mail.gif">
    </div>
  </div>

  <div id="shachi-home-footer"></div>
</div>

[%- END # WRAPPER '/_wrapper.tt' %]
