[%- WRAPPER '/_wrapper.tt' WITH title = 'Contact us' current_navi = 'home' %]

<div id="shachi-home">
  [%- INCLUDE '_home_sidemenu.tt' WITH sidemenu = 'contact' %]

  <div id="home-main">
    <h2 class="title">Contact us</h2>
    <h3 class="title">NICT</h3>
    <div class="contact-content">
      Knowledge Clustered Group, <br>
      Knowledge Creating Communication Research Center, <br>
      National Institute of Information and Communication Technology<br>
      3-5 Hikaridai, Seika-cho, Soraku-gun,<br>
      Kyoto, 619-0289 Japan<br>
      <span class="name">Kiyotaka Uchimoto</span><br>
      E-mail: <img src="/images/inq_mail.gif">
    </div>
    <h3 class="title">Matsubara Laboratory, Nagoya University</h3>
    <div class="contact-content">
      Information Technology Center, Nagoya University, <br>
      Furo-cho, Chikusa-ku, Nagoya, <br>
      Aichi, 464-8601 Japan<br>
      <span class="name">Hitomi Tohyama, Shigeki Matsubara</span><br>
      E-mail: <img src="/images/inq_mail.gif">
    </div>
  </div>

  <div id="shachi-home-footer"></div>
</div>

[%- END # WRAPPER '/_wrapper.tt' %]
