[%- WRAPPER '_wrapper.tt' %]

<div class="resource-detail-container">
  <h3 class="title">[% resource.title %]</h3>

  <div class="resource-meta-container">
    <span class="created">registration: [% resource.created.strftime('%Y/%m/%d %T') %]</span>,
    <span class="modified">last modified: [% resource.modified.strftime('%Y/%m/%d %T') %]</span>
  </div>

  <table class="resource-metadata-list">
    [%- FOREACH metadata IN metadata_list %]
      <tr>
        <td class="metadata">[% metadata.label %]</td>
        <td class="metadata-value">
          [%- SET resource_metadata_list = resource.metadata(metadata) %]
          [%- INCLUDE '_resource_metadata_list.tt' WITH
              metadata = metadata,
              resource_metadata_list = resource_metadata_list
          %]
        </td>
      </tr>
    [%- END # FOREACH metadata IN metadata_list %]
  </table>
</div>
[% END # WRAPPER '_wrapper.tt' %]

