[%- WRAPPER '_wrapper.tt' %]

<div class="search-result-count-container">
  <span class="total">言語資源の登録件数: [% query.total_count %]件</span>
  [% IF query.search_count %]
    <span class="result-count">[% query.search_count %] 件中 [% query.offset + 1 %] - [% query.offset + query.limit %] 件目</span>
  [% END # IF query.search_count %]
</div>

<div id="facet-search-container">
  <div id="facet-search-form-container">

    <form name="facet-form" method="GET">
      <div id="facet-search-current-query" class="facet-query-container">
        <span class="title-label">現在の検索条件</span>
        <ul class="current-query-list">
          [%- FOREACH metadata IN facet_metadata_list %]
            [%- SET value_ids = query.value_ids(metadata.name) %]
            [%- IF value_ids.size() %]
              <li>
                <span class="metadata-name">[% metadata.name %]</span>
                [%- FOREACH value_id IN value_ids %]
                  [%- IF value_id %]
                    [%- SET metadata_value = query.value_by_id(value_id) %]
                    <span class="metadata-value">[% metadata_value.value %]</span>
                    <input type="hidden" name="[% metadata.name %]" value="[% metadata_value.id %]">
                  [%- ELSE %]
                    <span class="metadata-value">no information</span>
                    <input type="hidden" name="[% metadata.name %]" value="0">
                  [%- END # IF value_id %]
                [%- END # FOREACH value_id IN value_ids %]
              </li>
            [%- END # IF value_ids.size() %]
          [%- END # FOREACH metadata IN facet_metadata_list %]
        </ul>
      </div>

      <div id="facet-search-keyword" class="facet-query-container">
        <span class="title-label">キーワードを入力</span>
        <input class="keyword" type="text" name="keyword" value="[% query.keyword %]">
        <input class="search" type="submit" value="search">
      </div>

      <div id="facet-search-query" class="facet-query-container">
        <span class="title-label">検索条件を選択</span>
        <ul class="facet-query-list">
          [%- FOREACH metadata IN facet_metadata_list %]
          <li class="facet-query-item">
            <span class="metadata-name">[% metadata.name %]</span>
            <select class="metadata-values" name="[% metadata.name %]" onchange="document.facet-form.submit()">
              <option></option>
              [%- FOREACH metadata_value IN metadata.values %]
              <option value="[% metadata_value.id %]">[% metadata_value.value %] ([% metadata_value.resource_count %])</option>
              [%- END # FOREACH value IN metadata.values %]
              [%- IF metadata.no_metadata_resource_count > 0 %]
              <option value="0">no information ([% metadata.no_metadata_resource_count %])</option>
              [%- END # IF metadata.no_metadata_resource_count > 0 %]
            </select>
          </li>
          [%- END # FOREACH metadata IN facet_metadata_list %]
        </ul>
      </div>
    </form>
  </div>

  <div id="facet-search-result-container">
    <ul class="resource-list">
      [%- FOREACH resource IN resources %]
      <li class="resource-item">
        <a class="title" href="[% resource.link %]">
          [% resource.shachi_id %]: [% resource.title %]
        </a>
        <div class="description">[% resource.description %]</div>
      </li>
      [%- END # FOREACH resource IN resources %]
    </ul>

    [%- IF query.current_page_num -%]
      <div id="facet-search-pager">
        <ul>
          [%- IF query.has_prev %]
            <li class="pager-item"><a href="[% c.pager_link(query.page_offset(query.current_page_num - 1)) %]">前へ</a></li>
          [%- END # IF query.has_prev %]
          [%- FOREACH page IN query.pages(5) %]
            [%- IF page == query.current_page_num %]
              <li class="pager-item current">[% page %]</li>
            [%- ELSE %]
              <li class="pager-item"><a href="[% c.pager_link(query.page_offset(page)) %]">[% page %]</a></li>
            [%- END # IF page == query.current_page_num %]
          [%- END # FOREACH page IN query.pages %]
          [%- IF query.has_next %]
            <li class="pager-item"><a href="[% c.pager_link(query.page_offset(query.current_page_num + 1)) %]">次へ</a></li>
          [%- END # IF query.has_next %]
        </ul>
      </div>
    [%- END # IF query.current_page_num -%]
  </div>

  <div id="facet-search-footer"></div>
</div>

[% END # WRAPPER '_wrapper.tt' %]
