[%- WRAPPER '_wrapper.tt' WITH current_navi = 'list'
    title = c.is_japanese ? '言語資源リスト' : 'Language Resource List'
%]
<div class="search-count-container">
  <span>[% resources.size %] [% c.is_japanese ? '件' : 'resources' %]</span>
</div>
<div class="resource-list-container">
  <ul class="resource-list">
    [%- FOREACH resource IN resources %]
      <li class="resource-item">
        <a class="title" href="[% resource.link %]">[% resource.shachi_id %]: [% resource.title %]</a>
      </li>
    [%- END # FOREACH resource IN resources %]
  </ul>
</div>
[% END # WRAPPER '_wrapper.tt' %]

