[%- WRAPPER '/_wrapper.tt' WITH current_navi = 'home' %]

<div id="shachi-home">
  [%- INCLUDE '_home_sidemenu_jpn.tt' WITH sidemenu = 'news' %]

  <div id="home-main">
    <h2 class="title">ニュース</h2>
    <ul class="news-list">
      <li>
        <span class="date">2008/4/24</span>
        <span class="news-content">
          現在、SHACHI検索システムの検索結果画面において、 一部の言語資源の詳細情報が、言語資源名をクリックしても閲覧できなくなっています。 このようなケースの場合、言語資源のidentifier情報として、 関連URLを表示していますので、そちらをご参照下さい。 詳細情報をご提供できるよう、 現在、作業を進めております。 ご了承頂きますよう、よろしくお願い申し上げます。
        </span>
      </li>
      <li>
        <span class="date">2008/1/27</span>
        <span class="news-content">
          SHACHI 仕様書を更新しました。
        </span>
      </li>
      <li>
        <span class="date">2007/12/15</span>
        <span class="news-content">
          SHACHI Webサイトがオープンしました。
        </span>
      </li>
    </ul>
  </div>

  <div id="shachi-home-footer"></div>
</div>

[%- END # WRAPPER '/_wrapper.tt' %]
