[%- WRAPPER '/_wrapper.tt' WITH current_navi = 'home' %]

<div id="shachi-home">
  [%- INCLUDE '_home_sidemenu.tt' WITH sidemenu = 'news' %]

  <div id="home-main">
    <h2 class="title">News</h2>
    <ul class="news-list">
      <li>
        <span class="date">Apr. 24. 2008</span>
        <span class="news-content">
          If you wish to see detailed information by clicking names of language resources on the screen of SHACHI’s search results, the function to read some of it does not work at the moment. In this case, please refer to related URLs shown as information on “identifier” of language resources. Detailed information will be thoroughly provided by July 2008 but is now in preparation.
        </span>
      </li>
      <li>
        <span class="date">Jan. 27. 2008</span>
        <span class="news-content">
          SHACHI Specification was updated.
        </span>
      </li>
      <li>
        <span class="date">Dec. 25. 2007</span>
        <span class="news-content">
          SHACHI Web site opened
        </span>
      </li>
    </ul>
  </div>

  <div id="shachi-home-footer"></div>
</div>

[%- END # WRAPPER '/_wrapper.tt' %]
