[%- WRAPPER '/_wrapper.tt' WITH title = 'OAI-PMH Data Provider' %]

<div>
  <h2 class="title">OAI-PMH Data Provider</h2>
  <ul>
    <li>
      <a href="/olac/oai2?verb=Identify" target="_blank">Identify</a>
    </li>
    <li>
      <a href="/olac/oai2?verb=ListMetadataFormats" target="_blank">ListMetadataFormats</a>
    </li>
    <li>
      <a href="/olac/oai2?verb=ListSets" target="_blank">ListSets</a>
    </li>
    <li>
      <a href="/olac/oai2?verb=ListIdentifiers&metadataPrefix=olac" target="_blank">ListIdentifiers</a>
    </li>
    <li>
      <a href="/olac/oai2?verb=ListRecords&metadataPrefix=olac" target="_blank">ListRecords</a>
    </li>
    <li>
      <a href="/olac/oai2?verb=GetRecord&metadataPrefix=olac&identifier=oai:shachi.org:N-000001" target="_blank">GetRecord</a>
    </li>
  </ul>
</div>

[%- END # WRAPPER '/_wrapper.tt' %]
