[%- WRAPPER '/_wrapper.tt' WITH title = 'Publications' current_navi = 'home' %]

<div id="shachi-home">
  [%- INCLUDE '_home_sidemenu.tt' WITH sidemenu = 'publications' %]

  <div id="home-main">
    <h2 class="title">Publications</h2>
    <ul class="publication-list">
      <li>
        Shunsuke Kozawa, Hitomi Tohyama, Kiyotaka Uchimoto, Shigeki Matsubara, Hitoshi Isahara, "Design and Collection of Ontological Metadata for Enhancing Interoperability of Language Resoruces", International Journal of Knowledge and Web Intelligence, Vol. 3, No. 3, pp. 206-223, 2012.
      </li>
      <li>
        Shunsuke Kozawa, Hitomi Tohyama, Kiyotaka Uchimoto, Shigeki Matsubara, "Utilization of Usage Information for Language Resource Searches", The 2nd International Conference on Global Interoperability for Language Resources, 2010.
        [<a href="/files/ICGL2010.pdf">PDF</a>]
      </li>
      <li>
        Hitomi Tohyama, Shunsuke Kozawa, Kiyotaka Uchimoto, Shigeki Matsubara, Hitoshi Isahara, "Construction of an Infrustructure for Providing Users with Suitable Language Resources", The 22nd International Conference on Computational Linguistics, 2008.
        [<a href="/files/COLING2008.pdf">PDF</a>]
      </li>
      <li>
        Hitomi Tohyama, Shunsuke Kozawa, Kiyotaka Uchimoto, Shigeki Matsubara, Hitoshi Isahara, "Construction of a Metadata Database for Efficient Development and Use of Language Resources", The 6th International Conference on Language Resources and Evaluation, 2008.
        [<a href="/files/LREC2008_2.pdf">PDF</a>]
      </li>
      <li>
        Shunsuke Kozawa, Hitomi Tohyama, Kiyotaka Uchimoto, Shigeki Matsubara, "Automatic Acquisition of Usage Information for Language Resources", The 6th International Conference on Language Resources and Evaluation, 2008.
        [<a href="/files/LREC2008_1.pdf">PDF</a>]
      </li>
      <li>
        Hitomi Tohyama, Shunsuke Kozawa, Kiyotaka Uchimoto, Shigeki Matsubara, Hitoshi Isahara, "SHACHI: A Large Scale Metadata Database of Language Resources", The 1st International Conference on Global Interoperability for Language Resources, pp. 205-212, 2008.
        [<a href="/files/ICGL2008.pdf">PDF</a>]
      </li>
    </ul>
  </div>

  <div id="shachi-home-footer"></div>
</div>

[%- END # WRAPPER '/_wrapper.tt' %]
