[%- WRAPPER '_wrapper.tt' %]

<form name="statistics-form" class="statistics-form" method="get">
  Select metadata:
  <select name="target" onchange="document.statistics-form.submit()">
    <option>-- Select metadata --</option>
    [%- FOREACH m IN metadata_list %]
      <option value="[% m.name %]"[% ' selected' IF metadata && metadata.id == m.id %]>[% m.name %]</option>
    [%- END # FOREACH m IN metadata_list %]
  </select>
</form>

[%- IF statistics %]
  <h3 class="title">Statistics for [% metadata.name %]</h3>
  <div class="statistics-container">
    <table>
      [%- SET years = statistics.keys().sort() %]
      <tr>
        <th>value</th>
        [%- FOREACH year IN years %]
        [%- NEXT IF year == 'total' %]
        <th>[% year %]</th>
        [%- END # FOREACH year IN statistics.keys %]
        <th>total</th>
      </tr>
      [% FOREACH value IN statistics.total.keys().sort() %]
        [% NEXT IF value == 'total' %]
        <tr>
          <th>[% value %]</th>
          [%- FOREACH year IN years %]
            [%- NEXT IF year == 'total' %]
            <td>[% statistics.${year}.${value} %]</td>
          [%- END # FOREACH year IN statistics.keys().sort() %]
          <td>[% statistics.total.${value} %]</td>
        </tr>
      [% END # FOREACH value IN statistics.total.keys() %]
      <tr>
        <th>total</th>
        [%- FOREACH year IN years %]
          [%- NEXT IF year == 'total' %]
          <td>[% statistics.${year}.total %]</td>
        [%- END # FOREACH year IN statistics.keys().sort() %]
        <td>[% statistics.total.total %]</td>
      </tr>
    </table>
  </div>
[%- END # IF statistics %]

[% END # WRAPPER '_wrapper.tt' %]

