<div class="status-popup-editor popup-editor" style="display:none">
  <ul>
    <li class="status" data-status="public">public</li>
    <li class="status" data-status="private">private</li>
    <li class="loading" style="display:none"><img src="/images/admin/loading.gif"></li>
    <li class="close">x</li>
  </ul>
</div>
